<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test - {{ test.name }}</title>
</head>
<body>
  <h1>{{ test.name }}</h1>
  <form action="/test/{{test.id}}/result/" method="post">
  {% for question in questions_list %}
    <p>
      {{ question }}
    </p>
    {% for answer in answers_list %}
      {% if answer.question.id == question.id %}
        <div>
          <input type="checkbox"><label>{{ answer }}</label>
        </div>
      {% endif %}
    {% endfor %}
  {% endfor %}
    <p>
      <input type="submit" value="Check" />
    </p>
  </form>
</body>
</html>